@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Raleway', sans-serif, 'Roboto';
  color: #ffffff;
}

body {
  font-size: 18px;
  background-color: #000000;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #e6e6e6;
  text-decoration: none;
}

a:hover {
  color: #bd8400;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto 0 auto;
}

.contain {
  width: 100%;
  margin: 0 auto 0 auto;
}

/**************************************************************************
                              SCROLL BAR
**************************************************************************/

::-webkit-scrollbar {
width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555;
}

/************************************************************************** 
                          NAV BAR
**************************************************************************/

.home-button, .about-button {
  position: absolute;
  top: 0%;
  font-size: 30px;
  text-align: center;
  height: 20%;
  width: 25%;
  cursor: pointer;
}

@media (min-width: 576px) {
  .home-button, .about-button {
      position: absolute;
      top: 0%;
      font-size: 25px;
      text-align: center;
      height: 16%;
      width: 16%;
      cursor: pointer;
  }
}

@media (min-width: 768px) { 
  .home-button, .about-button {
      position: absolute;
      top: 0%;
      font-size: 23px;
      text-align: center;
      height: 18%;
      width: 15%;
      cursor: pointer;
  }
}

@media (min-width: 992px) { 
  .home-button, .about-button {
      position: absolute;
      top: 0%;
      font-size: 20px;
      text-align: center;
      height: 15%;
      width: 9%;
      cursor: pointer;
  }
}

@media (min-width: 1200px) { 
  
  .home-button, .about-button {
      position: absolute;
      top: 0%;
      font-size: 17px;
      text-align: center;
      height: 15%;
      width: 6%;
      cursor: pointer;
  }
}

.home-button {
  left: 15%;
  animation-name: flipInX;
  animation-duration: 1.5s;
}

.about-button {
  right: 15%;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.home-button p, .about-button p {
  color: #ffffff;
  margin-top: 50%;
}


.home-button:hover, .about-button:hover {
  background-color: #e6e6e6;
  transition: 0.2s;
}

.home-button:hover p, .about-button:hover p {
  color: #000000;
}

/************************************************************************** 
                          HOME SECTION
**************************************************************************/

.background {
  display: flex;
  top: 0;
  left: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: black;
}
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.description {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  top: 40%;
  left: 25%;
  right: 25%;
  text-align: center;
  z-index: 1;
}

#my-svg {
  position: absolute;
  top: 10%;
  left: 30%;
  right: 25%;
  z-index: 1;
}

.project-head {
  font-size: 60px;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
}

.projects-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.projects-list-item {
  text-decoration: none;
  border-top: 1px solid #5d5d5d;
  border-bottom: 1px solid #5d5d5d;
  padding: 10px 5% 20px;
  cursor: pointer;
}

.projects-list-item:hover {
  background-color: #db9700;
  transition: 0.2s;
  border-color: transparent;
}

.projects-list-item:hover .proj-title {
  color: #ffffff;
  transition: 0.2s;
}

.projects-list-item:hover .proj-lang {
  color: #ffffff;
}

.proj-title {
  color: #db9700;
  padding-top: 1%;
}

.proj-year {
  float: right;
}

/************************************************************************** 
                          CONTACT FOOTER
**************************************************************************/

.contact {
  padding-top: 15%;
  padding-bottom: 3%;
  background-color: #000000;
  font-size: 50px;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

.contact h2 {
  color: #ffffff;
  font-size: 70px;
  padding-bottom: 20px;
}

.contact-links {
  text-align: center;
  padding-bottom: 16%;
  padding-top: 2%;
}

.contact-links a {
  padding-right: 20px;
  font-size: 25px;
  color: #ffffff;
}

.contact-links a:hover {
  color: #db9700;
  margin-top: -5px;
  margin-bottom: 5px;
}

.footLine {
  width:100%; 
  border-bottom: 1px solid #ffffff;
}

.email {
  color: #db9700;
  font-size: 50px;
}

.github, .linkedin {
  opacity: 87%;
}

.github:hover, .linkedin:hover {
  opacity: 60%;
}

/************************************************************************** 
                          ABOUT ME SECTION
**************************************************************************/

.section {
  display: flex;
  position:static;
  padding: 15%;
  padding-top: 10%;
  background-color: black;
}

.about-photo-container {
  display: contents;
  width: 50%;
}

.about-container {
  border-top: 2.5px solid #e6e6e6;
  margin-left: 5%;
  width: 50%;
}

.about-text {
  float: left;
  text-align: left;
}

.about-photo-container img {
  height: 500px;
  width: auto;
  float: right;
}

.about-years {
  font-size: 100px;
  padding-bottom: 15px;
}

/************************************************************************** 
                          PROJECT SECTION
**************************************************************************/

.project-text h1 {
  text-align: left;
  font-size: 70px;
  color: #e6e6e6;
}

.proj-lang, .proj-language {
  color: #cecece;
  font-size: 20px;
}

.proj-language {
  margin-bottom: 50px;
}

.proj-divider {
  margin-bottom: 20px;
}

.project-text {
  float: left;
  margin-right: 16%;
  margin-top: 10%;
  margin-left: 16%;
}

.project-text h2 {
  margin-bottom: 20px; 
  margin-top: 20px; 
  font-size: 30px;
}

.project-text p {
  font-size: 25px;
  padding-bottom: 2%;
  line-height: 1.6;
}

.project-text a {
  font-size: 20px;
  color: #e9a300;
}

.previous {
  border-right: 2.5px solid #ffffff;
}

.next {
  border-left: 2.5px solid #ffffff;
}

.previous, .next {
  float: left;
  text-align: center;
  margin-top: 100px;
  padding-top: 6%;
  padding-bottom: 6%;
  width: 50%;
  background-color: #eaa100;
  cursor: pointer;
}

.previous:hover, .next:hover {
  background-color: #c68900;
}
