* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: 'Raleway', sans-serif, 'Roboto';
  color: #ffffff;
}

body {
  font-size: 18px;
  background-color: #000000;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

a {
  color: #e6e6e6;
  text-decoration: none;
}

a:hover {
  color: #bd8400;
  text-decoration: none;
}

.container {
  width: 1200px;
  margin: 0 auto 0 auto;
}

.contain {
  width: 100%;
  margin: 0 auto 0 auto;
}

/**************************************************************************
                              SCROLL BAR
**************************************************************************/

::-webkit-scrollbar {
  width: 10px;
} 

/* Track */
::-webkit-scrollbar-track {
  /* background: #f1f1f1; */
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/************************************************************************** 
                          NAV BAR
**************************************************************************/

.home-button, .about-button {
  position: absolute;
  top: 0%;
  font-size: 17px;
  text-align: center;
  height: 110px;
  width: 90px;
  cursor: pointer;
}

.home-button img {
  height: 130px;
  width: 100px;
  margin-left: -5px;
}

.home-button {
  left: 15%;
  animation-name: flipInX;
  animation-duration: 1.5s;
}

.about-button {
  right: 15%;
  animation-name: fadeIn;
  animation-duration: 1.5s;
}

.home-button p, .about-button p {
  color: #ffffff;
  margin-top: 50%;
}


.home-button:hover, .about-button:hover {
  background-color: #e6e6e6;
  transition: 0.2s;
}

.home-button:hover p, .about-button:hover p {
  color: #000000;
}

/************************************************************************** 
                          HOME SECTION
**************************************************************************/

@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.description {
  position: absolute;
  font-family: 'Permanent Marker', cursive;
  font-size: 70px;
  top: 40%;
  left: 25%;
  right: 25%;
  text-align: center;
  z-index: 1;
}

.project-head {
  font-size: 60px;
  padding-top: 3%;
  padding-bottom: 3%;
  padding-left: 5%;
}

.projects-list {
  list-style: none;
  padding: 0;
  width: 100%;
}

.projects-list-item {
  text-decoration: none;
  border-top: 1px solid #5d5d5d;
  border-bottom: 1px solid #5d5d5d;
  padding: 10px 5% 20px;
  cursor: pointer;
}

.projects-list-item:hover {
  background-color: #db9700;
  transition: 0.2s;
  border-color: transparent;
}

.projects-list-item:hover .proj-title {
  color: #ffffff;
  transition: 0.2s;
}

.projects-list-item:hover .proj-lang {
  color: #ffffff;
}

.proj-title {
  color: #db9700;
  padding-top: 1%;
  font-size: 35px;
}

.proj-year {
  font-size: 20px;
  float: right;
}

/************************************************************************** 
                          CONTACT FOOTER
**************************************************************************/

.contact {
  padding-top: 15%;
  padding-bottom: 3%;
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

.contact h2 {
  color: #ffffff;
  font-size: 70px;
  padding-bottom: 20px;
}

.contact-links {
  text-align: center;
  padding-bottom: 16%;
  padding-top: 2%;
}

.contact-links a {
  padding-right: 20px;
  font-size: 25px;
  color: #ffffff;
}

.contact-links a:hover {
  color: #db9700;
  margin-top: -5px;
  margin-bottom: 5px;
}

.footLine {
  width:100%; 
  border-bottom: 1px solid #ffffff;
}

.email {
  color: #db9700;
  font-size: 50px;
}

/************************************************************************** 
                          ABOUT ME SECTION
**************************************************************************/

.section {
  display: flex;
  position:static;
  padding: 15%;
  padding-top: 10%;
  padding-bottom: 5%;
  background-color: black;
}

.about-photo-container {
  display: contents;
  width: 50%;
}

/* .about-container {
  border-top: 2.5px solid #e6e6e6;
  margin-left: 5%;
  width: 50%;
} */

.about-text {
  float: left;
  text-align: left;
  border-top: 2.5px solid #e6e6e6;
  margin-left: 5%;
  width: 50%;
}

.about-photo-container img {
  height: 500px;
  width: auto;
  float: right;
}

.about-years {
  font-size: 100px;
  padding-bottom: 15px;
}

/************************************************************************** 
                          PROJECT SECTION
**************************************************************************/

.project-text h1 {
  text-align: left;
  font-size: 70px;
  color: #e6e6e6;
}

.proj-lang, .proj-language {
  color: #cecece;
  font-size: 20px;
}

.proj-language {
  margin-bottom: 50px;
}

.proj-divider {
  margin-bottom: 20px;
}

.project-text {
  float: left;
  margin-right: 16%;
  margin-top: 10%;
  margin-left: 16%;
}

.project-text h2 {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.project-text p {
  font-size: 25px;
  padding-bottom: 2%;
  line-height: 1.6;
}

.project-text a {
  font-size: 20px;
  color: #e9a300;
}

.previous {
  border-right: 2.5px solid #ffffff;
}

.next {
  border-left: 2.5px solid #ffffff;
}

.previous, .next {
  float: left;
  text-align: center;
  margin-top: 100px;
  padding-top: 6%;
  padding-bottom: 6%;
  width: 50%;
  background-color: #eaa100;
  cursor: pointer;
}

.previous:hover, .next:hover {
  background-color: #c68900;
}



@media only screen and (min-width: 400px) and (max-width: 767px) {

  .home-button {
    left: 0;
  }
  .about-button {
    right: 0;
  }

  .description {
    font-size: 50px;
  }

  /* Projects List */
  .projects-list-item {
    height: 130px;
  }
  .proj-title {
    height: 50px;
    font-size: 30px;
  }
  .proj-lang{
    font-size: 17px;
  }
  .proj-year {
    font-size: 17px;
  }
  .project-head {
    font-size: 50px;
  }

  /* Footer */
  .contact {
    padding-top: 200px;
    padding-bottom: 3%;
    margin-left: 5%;
  }
  .contact-links {
    margin-top: 20px;
  }
  .contact h2 {
    font-size: 50px;
  }
  .email {
    font-size: 40px;  
  }

  /* Projects Section */
  .project-text {
    float: left;
    margin-top: 130px;
    margin-left: 5%;
    margin-right: 5%;
  }
  .project-text h1 {
    font-size: 40px;
  }
  .proj-language {
    font-size: 10px;
  }
  .project-text h2 {
    font-size: 30px;
  }
  .project-text p {
    font-size: 20px;
  }
  .project-text a {
    font-size: 15px;
  }

  .previous h1, .next h1 {
    font-size: 43px;
  }
}



@media only screen and (min-width: 768px) { 
  
}

@media only screen and (min-width: 992px) { 

}

@media only screen and (min-width: 1200px) { 

}